<!DOCTYPE HTML>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<header>
    <% include partials/nav %>
</header>
<div class="container">

	<div class="page-header text-center">
			<h1><span class="fa fa-certificate"></span>Profile Page</h1>
	</div>
	<!-- this layout is temporary I just wanted a way to see user data -Jeremy -->
	<div class="row">
		<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> User info </h3>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>username</strong>: <%= user.local.username %><br>
						<% if(user.discordId) {%>
							<strong>Discord ID</strong>: <%= user.discordId %><br>
						<%}else{%>
							<!-- dont lose this -->
							<p><a href="https://discordapp.com/api/oauth2/authorize?client_id=432635108583800832&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fme%2FdiscordId&response_type=code&scope=identify">Link your Discord!</a></p>
						<%}%>
						<strong>password</strong>: <%= user.local.password %>
					</p>
					<a href="/me=<%= user._id}%>"><button>Create a group</button></a>
				</div>
		</div>
		<div class="col-sm-6">
				<div class="well">
					<form action="/groups/new" method="POST">
						<input type="text" class="form-control" name="groupName">
						<p>maybe list friends here or search by email?</p>
						<input type="submit" name="Submit">
					</form>
				</div>
		</div>
	</div>
	

</div>
</body>
</html>
